<h1 nz-typography>Вход</h1>

<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-[500px]">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="firstName" nzRequired
      >Email</nz-form-label
    >
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input nz-input id="email" formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="firstName" nzRequired
      >Пароль</nz-form-label
    >
    <nz-form-control [nzSpan]="14" [nzErrorTip]="errorTip">
      <input
        nz-input
        id="password"
        formControlName="password"
        type="password"
      />
    </nz-form-control>
  </nz-form-item>

  <div class="flex justify-between">
    <button nz-button nzType="primary" type="submit">Вход</button>
    <button nz-button nzType="default" type="button" routerLink="/register">
      Регистрация
    </button>
  </div>
</form>

<ng-template #errorTip let-control>
  <div style="color: red" *ngIf="control?.invalid && control?.dirty">
    Поле заполнено неверно
  </div>
</ng-template>
