<header class="h-full max-w-[1200px] mx-auto">
  <div class="flex items-center h-full justify-between">
    <h2 nz-typography class="!mb-0" routerLink="/">Лого</h2>
    <div class="flex gap-2 items-center" *ngIf="(authService.user$ | async) as user; else notAuthed">
      {{user.firstName}} {{user.lastName}}
      <button nz-button nzType="default" (click)="authService.logout()">
        Выход
      </button>
    </div>
  </div>
</header>

<ng-template #notAuthed>
  <button nz-button nzType="primary" routerLink="/login">
    Вход и регистрация
  </button>
</ng-template>


<!--<div class="flex gap-2 items-center" *ngIf="(authService.user$ | async) as user; else notAuthed">-->
<!--  {{user.firstName}} {{user.lastName}}-->
<!--  <button nz-button nzType="default" (click)="authService.logout()">-->
<!--    Выход-->
<!--  </button>-->
<!--</div>-->
