<div *ngIf="ad">
  <nz-image-group>
    <img *ngFor="let image of ad.photos" nz-image width="200px" nzSrc="data:image/jpeg;base64,{{ image.kodBase64 }}">
  </nz-image-group>
  {{ad.locationText}}
</div>
